<!-- <form (ngSubmit)="submit(stockName.value, supplier.value, totalAmount.value, isActive.value, unitPrice.value, basicUnit.value, currency.value); stockName.value=''; supplier.value=''; totalAmount.value=''; isActive.value=''; unitPrice.value=''; basicUnit.value=''; currency.value='';">
    <div class="container border border-danger p-4">
        <div class="row">
            <div class="col">
                <h4> Eklenecek yeni stok bilgilerini giriniz.</h4>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col col-sm-2">
                <label for="totalAmount">Total amount</label>
            </div>
            <div class="form-group col col-sm-10">
                <input type="text" name="total_amount" class="form-control" #totalAmount id="totalAmount" value="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-check col col-sm-2">
                <label class="form-check-label" for="isActive">Is active</label>
            </div>
            <div class="form-check col col-sm-10">
                <input type="checkbox" name="is_active" class="col-sm-2form-check-input" #isActive id="isActive"
                    value="">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col"></div>
        </div>

        <div class="form-row">
            <div class="form-group col col-sm-2">
                <label for="stockName">Stock name</label>
            </div>
            <div class="form-group col col-sm-10">
                <input type="text" name="stock_name" class="form-control" #stockName id="stockName" value="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col col-sm-2">
                <label for="unitPrice">Unit price</label>
            </div>
            <div class="form-group col col-sm-10">
                <input type="text" name="unit_price" class="form-control" #unitPrice id="unitPrice" value="">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col col-sm-2">
                <label for="currency">Currency</label>
            </div>
            <div class="form-group col col-sm-10">
                <select name="currency" #currency id="currency" class="form-control" [(ngModel)]="model.currency">
                    <option *ngFor="let item of currencies" [ngValue]="item.newCurrency">
                        {{item.newCurrency}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col col-sm-2">
                <label for="basicUnit">Basic unit</label>
            </div>
            <div class="form-group col col-sm-10">
                <select name="basic_unit" #basicUnit id="basicUnit" class="form-control" [(ngModel)]="model.basicUnit">
                    <option *ngFor="let item of basic_units" [ngValue]="item.new_basic_unit">
                        {{item.new_basic_unit}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col col-sm-2">
                <label for="supplier">Supplier</label>
            </div>
            <div class="form-group col col-sm-10">
                <select name="supplier_name" #supplier id="supplier" class="form-control" [(ngModel)]="model.supplier">
                    <option *ngFor="let item of suppliers" [ngValue]="item.supplier">
                        {{item.supplier}}</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col col-sm-10">
            </div>
            <div class="form-group col col-sm-2">
                <button type="submit" class="btn btn-primary js-tooltip">
                    POST
                </button>
            </div>
        </div>
    </div>
</form> -->