<div class="container border border-danger p-4">
    <div class="row">
        <div class="col">
            <ng-container *ngIf="stockObject">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="form-row">
                        <div class="form-group col col-sm-2">
                            <label for="totalAmount">Toplam Tutar</label>
                        </div>
                        <div class="form-group col col-sm-10">
                            <input type="text" name="total_amount" class="form-control"
                                [(ngModel)]="stockObject.total_amount" id="totalAmount">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-check col col-sm-2">
                            <label class="form-check-label" for="isActive">Aktif mi?</label>
                        </div>
                        <div class="form-check col col-sm-10">
                            <input type="checkbox" name="is_active" class="col-sm-2form-check-input"
                                [(ngModel)]="stockObject.is_active" id="isActive">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col col-sm-2">
                            <label for="stockName">Stok İsmi</label>
                        </div>
                        <div class="form-group col col-sm-10">
                            <input type="text" id="stockName" [(ngModel)]="stockObject.stock_name" class="form-control"
                                name="stock_name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col col-sm-2">
                            <label for="unitPrice">Birim Fiyat</label>
                        </div>
                        <div class="form-group col col-sm-10">
                            <input type="text" name="unit_price" class="form-control"
                                [(ngModel)]="stockObject.unit_price" id="unitPrice">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col col-sm-2">
                            <label for="currency">Para Birimi</label>
                        </div>
                        <div class="form-group col col-sm-10">
                            <select name="currency_code" id="currency" class="form-control"
                                [(ngModel)]="stockObject.currency_code">
                                <option *ngFor="let item of currencyObject" [ngValue]="item.code">
                                    {{item.code}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col col-sm-2">
                            <label for="basicUnit">Temel Birim</label>
                        </div>
                        <div class="form-group col col-sm-10">
                            <select name="basic_unit_code" id="basicUnit" class="form-control"
                                [(ngModel)]="stockObject.basic_unit_code">
                                <option *ngFor="let item of basicUnitObject" [ngValue]="item.code">
                                    {{item.code}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col col-sm-2">
                            <label for="supplier">Tedarikçi İsmi</label>
                        </div>
                        <div class="form-group col col-sm-10">
                            <select name="supplier_name" id="supplier" class="form-control"
                                [(ngModel)]="stockObject.supplier_name">
                                <option *ngFor="let item of supplierObject" [ngValue]="item.name">
                                    {{item.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col col-sm-10">
                        </div>
                        <div class="form-group col col-sm-2">
                            <button type="submit" (click)="showSuccess();"
                                class="btn btn-primary js-tooltip">Güncelle</button>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>