<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="">Main</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/todo">Todo</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink='/stock'>Stock</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/supplier'>Supplier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/update'>Update</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/add-new-stock'>Add new stock</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/add-new-supplier'>Add new supplier</a>
    </li>
  </ul>
<router-outlet></router-outlet>
