<div class="container">
    <div class="row mt-3">
        <div class="col col-sm-11">
            <h4 class="text-purple"><b><i>Tedarikçiler</i></b></h4>
        </div>
        <div class="col">
        </div>
        <div class="row">
            <div class="col col-sm-11">
                <p *ngFor="let item of getSupplier(); let i = index">
                    {{ i + 1 }}. {{ item.supplier }}
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>