<div class="row">
    <div class="col-8">
        <nav class="navbar navbar-light">
            <form class="form-inline">
                <input type="text" class="form-control mr-sm-2 my-3" (input)="searchStock($event.target.value)"
                    name="search" id="search" aria-label="Search" placeholder="Arama...">
                <svg class="my-2 my-sm-0" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
            </form>
        </nav>
    </div>
    <div class="col-2">

    </div>
    <div class="col-2">
        <currency-modal></currency-modal>
    </div>
</div>

<div class="row">
    <div class="col-3 mx-3 border border-primary p-3">
        <div class="list-group my-1">
            <div class="list-group-item">
                <a routerLink='add-new-stock'>Yeni Stok Ekle</a>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item active">
                <h6 class="text-white text-center"><b><i>Stoklar</i></b></h6>
            </div>
            <div class="list-group-item">
                <ng-container *ngFor="let item of getAllStockObje">
                    <button class="btn btn-outline-dark btn-block" type="button" (click)="navigateToStockId(item.id)">
                        {{item.id}}.{{item.stock_name}}
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="col-6">
        <ng-container *ngIf="getAllStockObje">
            <div>
                <router-outlet></router-outlet>
            </div>
        </ng-container>
    </div>
    <div class="col-3"></div>
</div>