<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink='update'>Update</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='add-new-stock'>Add new stock</a>
    </li>
  </ul>

<div class="container">
    <div class="row mt-3">
        <div class="col col-sm-11">
            <h4 class="text-purple"><b><i>Stoklar</i></b></h4>
        </div>
        <div class="col">
        </div>
        <div class="row">
            <div class="col col-sm-11">
                <p *ngFor="let item of getAllDataObje">
                    {{ item.id }}. {{ item.stock_name }}
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<div *ngIf="getAllDataObje">
    <!-- <router-outlet (activate)='onActivate($event)'></router-outlet> -->
    <app-update [getDatas]="getAllDataObje"></app-update>
</div>