<div class="row my-3">
    <div class="col-3 mx-3 border border-primary p-3">
        <div class="list-group my-1">
            <div class="list-group-item">
                <a routerLink='add-new-stock'>Yeni Stok Ekle</a>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item active">
                <h6 class="text-white"><b><i>Stoklar</i></b></h6>
            </div>
            <div class="list-group-item" *ngFor="let item of getAllStockObje">
                <a routerLink='update'>
                    {{ item.id }}. {{ item.stock_name }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <ng-container *ngIf="getAllStockObje">
            <div>
                <router-outlet></router-outlet>
            </div>
        </ng-container>
    </div>
    <div class="col-3"></div>
</div>