/* You can add global styles to this file, and also import other style files */


.text-blue {
    color: blue;
}

.text-purple {
    color: purple;
}

.text-orange {
    color: orange;
}

.text-red {
    color: red;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0px;
}